{% extends 'PLLCoreBundle::guild.html.twig' %}

{% block guildbody %}
<div class="page-build">
	<div class="w3-section">
		<h1 class="guild-page-title">{{ 'build.title.main'|trans }}</h1>
	</div>
{% block buildbody %}
{% endblock %}
</div>
{% endblock %}