{% extends 'PLLCoreBundle::guild.html.twig' %}

{% block guildbody %}
<div class="page-composition">
	<div class="w3-section">
		<h1 class="guild-page-title">{{ 'composition.title.main'|trans }}</h1>
	</div>
{% block compositionbody %}
{% endblock %}
</div>
{% endblock %}