{% extends 'PLLCoreBundle::guild.html.twig' %}

{% block guildbody %}
<div class="page-event">
	<div class="w3-section">
		<h1 class="guild-page-title">{{ 'event.title.main'|trans }}</h1>
	</div>
{% block eventbody %}
{% endblock %}
</div>
{% endblock %}