{% extends 'PLLCoreBundle::guild.html.twig' %}

{% block guildbody %}
<div class="page-team">
	<div class="w3-section">
		<h1 class="guild-page-title">{{ 'team.title.main'|trans }}</h1>
	</div>
{% block teambody %}
{% endblock %}
</div>
{% endblock %}