{% extends "@FOSUser/layout.html.twig" %}

{% block user_header %}{{ 'user.title.welcome'|trans({}, 'messages') }}{% endblock %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <p>{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</p>
    <p><a href="{{ path('pll_core_home') }}">{{ 'registration.back'|trans }}</a></p>

{% endblock fos_user_content %}
