
{% extends "PLLCoreBundle::base.html.twig" %}

{% block body %}


<header class="w3-container w3-black">
  <h1>{{ 'register.title'|trans }}</h1>
</header>

<div class="w3-container w3-half w3-margin-top">

    <div class="w3-padding-xxlarge w3-card-4">

{% block fos_user_content %}
{% endblock fos_user_content %}

    </div>
</div>

{% endblock %}